<a href="https://colab.research.google.com/github/RiccardoCherchi/Stage-info-unige-2023/blob/main/python_advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Escape Characters..

print("ciao\nciao")
print("ciao\\nciao")
print("ciao\tciao")
print("\"Python\"")

In [ ]:
# if-elif-else

x = 1
if(x == 1): print("1")
if(x == 1):
  print("hello")
  print("Python")
elif(x == 2):
  print("hello")
else:
  print("Python")

In [ ]:
# Swapping variable with output formatting 

a = 2
b = 5
aux = a
a = b
b = aux

# del aux 

print("a : %d, b : %d" % (a, b)) # old c-style string formatting
print("a : {}, b : {}".format(a, b)) # formatting output using the format method
print("a : {0:2.2f}, b : {1:2.2f}".format(a, b)) # formatting output using the format method

In [ ]:
# Assign multiple values (swap without aux variable)

a = 2
b = 5
a, b = b, a

print("a : {}, b : {}".format(a, b))

In [ ]:
# Swapping variables using XOR operator

a = a ^ b
b = a ^ b
a = a ^ b

print("a : {}, b : {}".format(a, b))

a : 2, b : 5

In [ ]:
# boolean

x = True
y = False 

# La prima lettera sempre maiuscola!
# x = true --> NameError

In [ ]:
print(x and y)
print(x or y)
print(not(x))
print(x and y or x)

print(x+x-y) # Curiosità: True e False values are actually integers (0 and 1)
print(True == 1)
print(False == 0)

False
True
False
True
2
True
True

In [ ]:
# complex number (numeri complessi, per chi li conosce da matematica o fisica)

c = complex(3, 4)

print("real part: ", c.real)
print("imaginary part: ", c.imag)

real part:  3.0
imaginary part:  4.0

In [ ]:
# Liste

lista = [5, [2,3,[3,4]], (2,6,8), "hello", [True,2], []]

print(lista[1])
print(lista[1][2]) 
print(lista[1][2][1])

[2, 3, [3, 4]]
[3, 4]
4

In [ ]:
# Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional list. 
# The element value in the i-th row and j-th column of the array should be i*j.
# To access an element: list_name[row][column]

# Completare

Lambda Functions

In [ ]:
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.

# Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

In [ ]:
# Multiply argument a with argument b and return the result

# Fare con Lambda function

**Dequeue** Come abbiamo visto a lezione, le liste non sono efficienti se usate come code. Per le code, è meglio usare gli oggetti della classe deque della libreria collections (che sono implementati come liste collegate, linked list).

In [ ]:
from timeit import timeit
from collections import deque

# timeit number of executions
tnumber = 100

N = 10000000
ls = list(range(N))
dq = deque(range(N))

In [ ]:
# Adding elements to the end: append

t1 = timeit(lambda: ls.append(42), number=tnumber)
t2 = timeit(lambda: dq.append(42), number=tnumber)

print("Adding elements to the end: append")
print(t1, t2)

# Adding elements to the start: insert vs appendleft

print("Adding elements to the start: insert vs appendleft")
t3 = timeit(lambda: ls.insert(0, 42), number=tnumber)
t4 = timeit(lambda: dq.appendleft(42), number=tnumber)

print(t3, t4)

Adding elements to the end: append
1.694999991741497e-05 1.752000002852583e-05
Adding elements to the start: insert vs appendleft
0.6041803170001003 1.2389999938022811e-05

In [ ]:
# Removing elements from the end: pop

# Removing elements from the start: pop vs popleft

# completare/provare

**List Comprehension**

In [ ]:
# Count the number of space in a string

string = " hello Python !"

q0 = len([char for char in string if char == " "])

print(q0)

3

In [ ]:
# Find all of the words in a string that are less than 6 letters

string= " hello Python !"

words = string.split(" ") # The split() method splits a string into a list. 
                          # You can specify the separator, default separator is any whitespace. 

q1 = # RISOLVI con list comprehension

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# check the 10 numbers. 
# If i is divisible by 2, then Even is appended to the obj list. If not, Odd is appended.
# Risolvi con list comprehension (hint: if-else with list comprehension)

In [ ]:
numbers = range(10)

# crea una lista costituita dai quadrati di 0, 1, 2, ..., 9 --> [0, 1, 4, 9, 16, ...]

# Risolvi con list comprehension

# Ripeti esercizio con generator expression. Cosa cambia (sintassi e comportamento)?

In [ ]:
# Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional list. 
# The element value in the i-th row and j-th column of the array should be i*j.
# To access an element: list_name[row][column]

# E' l'esercizio di prima ma con list comprehension

In [ ]:
# Dict comprehension (comprensione di dizionari)

old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

# Incrementa il prezzo di ogni prodotto di 0.2 utilizzando dict comprehension.

In [ ]:
# Tuple ("liste" immutabili)

tp1 = tuple() 
tp2 = tuple("hello")

print(tp1, type(tp1))
print(tp2, type(tp2))

# Non puoi aggiungere o rimuovere elementi a una tupla.

() <class 'tuple'>
('h', 'e', 'l', 'l', 'o') <class 'tuple'>

('h', 'e', 'l', 'l', 'o')

In [ ]:
# Attenzione alle tuple con un singolo elemento!

mon1 = ('Lunedì',) # ok
mon2 = ('Lunedì') # wrong

print(mon1[0]) 
print(mon2[0]) 

print(type(mon1))
print(type(mon2))

Lunedì
L
<class 'tuple'>
<class 'str'>

In [ ]:
# Dizionari

dizionario = {}

dizionario["hello"] = 1 # add key-value

dizionario

{'hello': 1}

In [ ]:
# Esegui e osserva output

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "id": "AAK9291"
}

print(thisdict.keys())
print(thisdict.values())
print(thisdict.items())
print(len(thisdict))

print(thisdict.get("year"))

print(thisdict.pop("id"))
print(thisdict)

dict_keys(['brand', 'model', 'year', 'id'])
dict_values(['Ford', 'Mustang', 1964, 'AAK9291'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('id', 'AAK9291')])
4
1964
AAK9291
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Set (insiemi)
# Set items are unchangeable, meaning that we cannot change the items after the set has been created.
# Once a set is created, you cannot change its items, but you can remove items and add new items.

thisset = {"apple", "banana", "cherry", "apple"}

thisset.add("orange")
thisset.add("banana")

print(thisset) # Sai spiegare il risultato?

In [ ]:
# Unione e intersezione di insiemi

set1 = {"a", "b" , "c"}
set2 = {"c", "d"}

set3 = set1.union(set2)
set4 = set1.intersection(set2)

print(set3)
print(set4)

{'c', 'a', 'd', 'b'}
{'c'}

**Memory management**

In [ ]:
a = 5
b = 5
print(a == b)
print(a is b)
print(id(a))
print(id(b))
b = 7
print (a is b)
print(id(b))

In [ ]:
a = 256
b = 256
print(id(a)," ", id(b))
print(a == b)
print(a is b)

c = 257
d = 257
print(id(c)," ", id(d))
print(c == d)
print(c is d)

In [ ]:
w = -10
y = -10

# cosa succede?

In [ ]:
i = 33
ii = 33
print(id(i))
print(i is ii)
del ii # delete one reference to the PyObject 33 (reference count --> 1)
print(id(i))

9794112
True
9794112

In [ ]:
p1 = "banana"
p2 = "banana"

print(id(p1)," ", id(p2))
print(p1 == p2)
print(p1 is p2)


p3 = "Lorem ipsum dolor sit amet"
p4 = "Lorem ipsum dolor sit amet"

print("\n")
print(id(p3)," ", id(p4))
print(p3 == p4)
print(p3 is p4)

140073334649776   140073334649776
True
True


140073334979200   140073334979280
True
False

In [ ]:
lista1 = [11, 51, 33]
lista2 = [11, 51, 33]
lista3 = lista1     #aliasing

print(lista1 is lista2)
print(lista1 is lista3)

False
True

In [ ]:
# None data type

n = None
p = None

print(n == p)
print(n is p)
print(id(n))
print(id(p))
print(bool(None))

True
True
9488912
9488912
False

**Python functions**

In [ ]:
# None is the default return type of a Python function.

def foo():
  return

foo = foo()
type(foo)

NoneType

In [ ]:
def somma(a, b):
  return a + b

In [ ]:
# docstrings (aggiungi documentazione/descrizione alla tua funzione)

def sum(a, b):
  """Sum a and b.
  Args:
    a (int)
    b (int)
  """

  return a + b

In [ ]:
# Python annotations

def somma2(a: int, b: int) -> int: 
  return a + b

In [ ]:
somma2("pippo", "ciao")

'pippociao'

In [ ]:
sum.__doc__

'Sum a and b.\n  Args:\n    a (int)\n    b (int)\n  '

In [ ]:
somma2.__annotations__

{'a': int, 'b': int, 'return': int}

In [ ]:
# Default arguments

def somma(a = 0, b = 0):
  return a+b

print(somma(2,3))
print(somma()) # tipo di ritorno è 0 (int) e non None
print(somma("hello", " Py")) # ma è sempre tipizzazione dinamica

# Curiosità: esistono librerie (come mypy) per aggiungere un static type checker opzionale (non lo vediamo, non è compatibile con Colab)

5
0
hello Py

In [ ]:
# Funzioni ricorsive

def fact(n):
    """Recursive function to find factorial"""
    if n == 1:
        return 1
    else:
        return (n * fact(n - 1))
a = 6
print("Factorial of", a, "=", fact(a))

In [ ]:
# Set

insieme = {"paperino", "pippo", "topolino"}
insieme2 = {"zio paperone", "paperino"}

for x in insieme2:
  if x in insieme:
    print(x)

paperino

In [ ]:
# Curiosità: for-else

for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

**Iteratori e generatori**

In [ ]:
# ITERATORI

# list of cities
cities = ["Berlin", "Vienna", "Zurich"]
 
# initialize the object
iterator_obj = iter(cities)
 
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))

In [ ]:
# Iterators keep state (iterable vs iterator objects)

iterabile = [1, 2, 3, 4, 5]
iteratore = iter(iterabile)

for i in range(4):
  print(iterabile[i])

for j in range(4):
  print(iterabile[j])

print("\nIterator\n")

for it in range(4):
  print(iteratore.__next__())

for itt in range(4):
  print(iteratore.__next__())

1
2
3
4
1
2
3
4

Iterator

1
2
3
4
5

StopIteration: ignored

In [ ]:
# range() returns an iterable immutable object, but is not an iterator.

non_iteratore = range(10)

iteratore = iter(non_iteratore)

print(type(non_iteratore))
print(type(iteratore))

iteratore.__next__()

<class 'range'>
<class 'range_iterator'>

0

In [ ]:
import itertools

iterator1 = iter([1, 2, 3])
iterator2 = iter([4, 5, 6])

iterator3 = itertools.chain(iterator1, iterator2)

for i in range(7):
  print(iterator3.__next__())

1
2
3
4
5
6

StopIteration: ignored

In [ ]:
count = itertools.count(10)

for i in range(10):
  print(count.__next__())

10
11
12
13
14
15
16
17
18
19

In [ ]:
# Roughly equivalent to this generator function (NB: generator functions have "yield", no "return"):

def count(start=0, step=1):
    # count(10) --> 10 11 12 13 14 ...
    # count(2.5, 0.5) --> 2.5 3.0 3.5 ...
    n = start
    while True:
        yield n
        n += step

count = count(10)

for i in range(10):
  print(count.__next__())

10
11
12
13
14
15
16
17
18
19

In [ ]:
# Scrivere una generator function per generare i primi 20 numeri pari.

import itertools

def iter_even():
  pass

In [ ]:
def first_n(n):
  '''Build and return a list'''
  num, nums = 0, []
  while num < n:
    nums.append(num)
    num += 1
  return nums
    
first_numbers = first_n(1000000)

for i in range(40):
  print(first_numbers[i])

# Il programma deve stampare i primi N numeri.
# In questo esempio genero (tramite funzione) una lista di 1000000 elementi 
# e ne stampo i primi 40 (non ha molto senso; che spreco inutile di memoria!)
# Riscrivere il programma utilizzando le generator function.