<a href="https://colab.research.google.com/github/RiccardoCherchi/Stage-info-unige-2023/blob/main/PYTHON_ADVANCED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
# Escape Characters..

print("ciao\nciao")
print("ciao\\nciao")
print("ciao\tciao")
print("\"Python\"")

ciao
ciao
ciao\nciao
ciao	ciao
"Python"

In [72]:
# if-elif-else

x = 1
if(x == 1): print("1")
if(x == 1):
  print("hello")
  print("Python")
elif(x == 2):
  print("hello")
else:
  print("Python")

1
hello
Python

In [73]:
# Swapping variable with output formatting 

a = 2
b = 5
aux = a
a = b
b = aux

# del aux 

print("a : %d, b : %d" % (a, b)) # old c-style string formatting
print("a : {}, b : {}".format(a, b)) # formatting output using the format method
print("a : {0:2.2f}, b : {1:2.2f}".format(a, b)) # formatting output using the format method

a : 5, b : 2
a : 5, b : 2
a : 5.00, b : 2.00

In [74]:
# Assign multiple values (swap without aux variable)

a = 2
b = 5
a, b = b, a

print("a : {}, b : {}".format(a, b))

a : 5, b : 2

In [75]:
# Swapping variables using XOR operator

a = a ^ b
b = a ^ b
a = a ^ b

print("a : {}, b : {}".format(a, b))

a : 2, b : 5

In [76]:
# boolean

x = True
y = False 

# La prima lettera sempre maiuscola!
# x = true --> NameError

In [77]:
print(x and y)
print(x or y)
print(not(x))
print(x and y or x)

print(x+x-y) # Curiosit√†: True e False values are actually integers (0 and 1)
print(True == 1)
print(False == 0)

False
True
False
True
2
True
True

In [78]:
# complex number (numeri complessi, per chi li conosce da matematica o fisica)

c = complex(3, 4)

print("real part: ", c.real)
print("imaginary part: ", c.imag)

real part:  3.0
imaginary part:  4.0

In [79]:
# Liste

lista = [5, [2,3,[3,4]], (2,6,8), "hello", [True,2], []]

print(lista[1])
print(lista[1][2]) 
print(lista[1][2][1])

[2, 3, [3, 4]]
[3, 4]
4

In [80]:
# Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional list. 
# The element value in the i-th row and j-th column of the array should be i*j.
# To access an element: list_name[row][column]

def list_gen(n, m):
  res = []
  for i in range(n + 1):
    row = []
    for j in range(m + 1):
      row.append(i * j)
    res.append(row)
  return res

print(list_gen(2, 5))

# Completare

[[0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5], [0, 2, 4, 6, 8, 10]]

Lambda Functions

In [81]:
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.

# Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

15

In [82]:
# Multiply argument a with argument b and return the result

mult = lambda a, b: a * b

print(mult(2,3))

# Fare con Lambda function

6

**Dequeue** Come abbiamo visto a lezione, le liste non sono efficienti se usate come code. Per le code, √® meglio usare gli oggetti della classe deque della libreria collections (che sono implementati come liste collegate, linked list).

In [83]:
from timeit import timeit
from collections import deque

# timeit number of executions
tnumber = 100

N = 10000000
ls = list(range(N))
dq = deque(range(N))

In [84]:
# Adding elements to the end: append

t1 = timeit(lambda: ls.append(42), number=tnumber)
t2 = timeit(lambda: dq.append(42), number=tnumber)

print("Adding elements to the end: append")
print(t1, t2)

# Adding elements to the start: insert vs appendleft

print("Adding elements to the start: insert vs appendleft")
t3 = timeit(lambda: ls.insert(0, 42), number=tnumber)
t4 = timeit(lambda: dq.appendleft(42), number=tnumber)

print(t3, t4)

Adding elements to the end: append
5.3142000069783535e-05 3.450999997767212e-05
Adding elements to the start: insert vs appendleft
2.1237512049999623 1.9749999978557753e-05

In [85]:
# Removing elements from the end: pop
t1 = timeit(lambda: ls.pop(), number=tnumber)
t2 = timeit(lambda: dq.pop(), number=tnumber)

print("Removing elements: pop")
print(t1, t2)
# Removing elements from the start: pop vs popleft

t3 = timeit(lambda: ls.pop(0), number=tnumber)
t4 = timeit(lambda: dq.popleft(), number=tnumber)

print("Removing elements: ")
print(t3, t4)

Removing elements: pop
0.00029897299998538074 2.58050000638832e-05
Removing elements:
1.2127127090000158 2.8205999910824175e-05

**List Comprehension**

In [86]:
# Count the number of space in a string

string = " hello Python !"

q0 = len([char for char in string if char == " "])

print(q0)

3

In [87]:
# Find all of the words in a string that are less than 6 letters

string= " hello Python !"

words = string.split(" ") # The split() method splits a string into a list. 
                          # You can specify the separator, default separator is any whitespace. 

q1 = [w for w in words if len(w) < 6]
print(q1)

['', 'hello', '!']

In [88]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# check the 10 numbers. 
# If i is divisible by 2, then Even is appended to the obj list. If not, Odd is appended.
# Risolvi con list comprehension (hint: if-else with list comprehension)

res = ["Even" if n % 2 == 0 else "Odd" for n in numbers]
print(res)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [89]:
numbers = range(10)

# crea una lista costituita dai quadrati di 0, 1, 2, ..., 9 --> [0, 1, 4, 9, 16, ...]
# Risolvi con list comprehension
l_res = [i ** 2 for i in numbers]

print(res)

# Ripeti esercizio con generator expression. Cosa cambia (sintassi e comportamento)?
g_res = (i ** 2 for i in numbers)

print(g_res)

# la differenza e' nel tipo di ritorno uno ritorna una lista
# con i rusltati gia calcolati mentre nel secodno caso viene generato
# un generatore che genere i numeri calcolati in un secondo momento

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']
<generator object <genexpr> at 0x7f1ce5aa5ba0>

In [90]:
# Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional list. 
# The element value in the i-th row and j-th column of the array should be i*j.
# To access an element: list_name[row][column]

# E' l'esercizio di prima ma con list comprehension

def list_gen(n, m):
  return [[i*j for i in range(n+1)] for j in range(m + 1)]

print(list_gen(2,5))

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6], [0, 4, 8], [0, 5, 10]]

In [91]:
# Dict comprehension (comprensione di dizionari)

old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

# Incrementa il prezzo di ogni prodotto di 0.2 utilizzando dict comprehension.

res = {k: v + 0.2 for (k,v) in old_price.items()}

print(res)

{'milk': 1.22, 'coffee': 2.7, 'bread': 2.7}

In [92]:
# Tuple ("liste" immutabili)

tp1 = tuple() 
tp2 = tuple("hello")

print(tp1, type(tp1))
print(tp2, type(tp2))

# Non puoi aggiungere o rimuovere elementi a una tupla.

() <class 'tuple'>
('h', 'e', 'l', 'l', 'o') <class 'tuple'>

In [93]:
# Attenzione alle tuple con un singolo elemento!

mon1 = ('Luned√¨',) # ok
mon2 = ('Luned√¨') # wrong

print(mon1[0]) 
print(mon2[0]) 

print(type(mon1))
print(type(mon2))

Luned√¨
L
<class 'tuple'>
<class 'str'>

In [94]:
# Dizionari

dizionario = {}

dizionario["hello"] = 1 # add key-value

dizionario

{'hello': 1}

In [95]:
# Esegui e osserva output

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "id": "AAK9291"
}

print(thisdict.keys())
print(thisdict.values())
print(thisdict.items())
print(len(thisdict))

print(thisdict.get("year"))

print(thisdict.pop("id"))
print(thisdict)

dict_keys(['brand', 'model', 'year', 'id'])
dict_values(['Ford', 'Mustang', 1964, 'AAK9291'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('id', 'AAK9291')])
4
1964
AAK9291
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [96]:
# Set (insiemi)
# Set items are unchangeable, meaning that we cannot change the items after the set has been created.
# Once a set is created, you cannot change its items, but you can remove items and add new items.

thisset = {"apple", "banana", "cherry", "apple"}

thisset.add("orange")
thisset.add("banana")

print(thisset) # Sai spiegare il risultato?

{'apple', 'cherry', 'orange', 'banana'}

In [97]:
# Unione e intersezione di insiemi

set1 = {"a", "b" , "c"}
set2 = {"c", "d"}

set3 = set1.union(set2)
set4 = set1.intersection(set2)

print(set3)
print(set4)

{'c', 'd', 'b', 'a'}
{'c'}

**Memory management**

In [98]:
a = 5
b = 5
print(a == b)
print(a is b)
print(id(a))
print(id(b))
b = 7
print (a is b)
print(id(b))

True
True
9793216
9793216
False
9793280

In [99]:
a = 256
b = 256
print(id(a)," ", id(b))
print(a == b)
print(a is b)

c = 257
d = 257
print(id(c)," ", id(d))
print(c == d)
print(c is d)

9801248   9801248
True
True
139761115062384   139761440112272
True
False

In [100]:
w = -10
y = -10

print(id(w))
print(id(y))

# cosa succede?

# -10 e' al di fuori del range di (5 : 256) quindi il gestore di memoria di 
# python non ottimizza questo valore e assegna due indirizzi di memoria diversi

139761440112592
139761440112400

In [101]:
i = 33
ii = 33
print(id(i))
print(i is ii)
del ii # delete one reference to the PyObject 33 (reference count --> 1)
print(id(i))

9794112
True
9794112

In [102]:
p1 = "banana"
p2 = "banana"

print(id(p1)," ", id(p2))
print(p1 == p2)
print(p1 is p2)


p3 = "Lorem ipsum dolor sit amet"
p4 = "Lorem ipsum dolor sit amet"

print("\n")
print(id(p3)," ", id(p4))
print(p3 == p4)
print(p3 is p4)

139763257089136   139763257089136
True
True


139762708663232   139761115037744
True
False

In [103]:
lista1 = [11, 51, 33]
lista2 = [11, 51, 33]
lista3 = lista1     #aliasing

print(lista1 is lista2)
print(lista1 is lista3)

False
True

In [104]:
# None data type

n = None
p = None

print(n == p)
print(n is p)
print(id(n))
print(id(p))
print(bool(None))

True
True
9488912
9488912
False

**Python functions**

In [105]:
# None is the default return type of a Python function.

def foo():
  return

foo = foo()
type(foo)

NoneType

In [106]:
def somma(a, b):
  return a + b

In [107]:
# docstrings (aggiungi documentazione/descrizione alla tua funzione)

def sum(a, b):
  """Sum a and b.
  Args:
    a (int)
    b (int)
  """

  return a + b

In [108]:
# Python annotations

def somma2(a: int, b: int) -> int: 
  return a + b

In [109]:
somma2("pippo", "ciao")

'pippociao'

In [110]:
sum.__doc__

'Sum a and b.\n  Args:\n    a (int)\n    b (int)\n  '

In [111]:
somma2.__annotations__

{'a': int, 'b': int, 'return': int}

In [112]:
# Default arguments

def somma(a = 0, b = 0):
  return a+b

print(somma(2,3))
print(somma()) # tipo di ritorno √® 0 (int) e non None
print(somma("hello", " Py")) # ma √® sempre tipizzazione dinamica

# Curiosit√†: esistono librerie (come mypy) per aggiungere un static type checker opzionale (non lo vediamo, non √® compatibile con Colab)

5
0
hello Py

In [113]:
# Funzioni ricorsive

def fact(n):
    """Recursive function to find factorial"""
    if n == 1:
        return 1
    else:
        return (n * fact(n - 1))
a = 6
print("Factorial of", a, "=", fact(a))

Factorial of 6 = 720

In [114]:
# Set

insieme = {"paperino", "pippo", "topolino"}
insieme2 = {"zio paperone", "paperino"}

for x in insieme2:
  if x in insieme:
    print(x)

paperino

In [115]:
# Curiosit√†: for-else

for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

**Iteratori e generatori**

In [116]:
# ITERATORI

# list of cities
cities = ["Berlin", "Vienna", "Zurich"]
 
# initialize the object
iterator_obj = iter(cities)
 
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))

Berlin
Vienna
Zurich

StopIteration: ignored

In [ ]:
# Iterators keep state (iterable vs iterator objects)

iterabile = [1, 2, 3, 4, 5]
iteratore = iter(iterabile)

for i in range(4):
  print(iterabile[i])

for j in range(4):
  print(iterabile[j])

print("\nIterator\n")

for it in range(4):
  print(iteratore.__next__())

for itt in range(4):
  print(iteratore.__next__())

In [ ]:
# range() returns an iterable immutable object, but is not an iterator.

non_iteratore = range(10)

iteratore = iter(non_iteratore)

print(type(non_iteratore))
print(type(iteratore))

iteratore.__next__()

In [ ]:
import itertools

iterator1 = iter([1, 2, 3])
iterator2 = iter([4, 5, 6])

iterator3 = itertools.chain(iterator1, iterator2)

for i in range(7):
  print(iterator3.__next__())

In [ ]:
count = itertools.count(10)

for i in range(10):
  print(count.__next__())

In [ ]:
# Roughly equivalent to this generator function (NB: generator functions have "yield", no "return"):

def count(start=0, step=1):
    # count(10) --> 10 11 12 13 14 ...
    # count(2.5, 0.5) --> 2.5 3.0 3.5 ...
    n = start
    while True:
        yield n
        n += step

count = count(10)

for i in range(10):
  print(count.__next__())

In [67]:
# Scrivere una generator function per generare i primi 20 numeri pari.

import itertools

def iter_evens():
  for i in range(0,21,2):
    yield i
  
gen = iter_evens()

print(gen.__next__())
print(gen.__next__())
print(gen.__next__())
print(gen.__next__())

0
2
4
6

In [120]:
# Vecchio:
# def first_n(n):
#   '''Build and return a list'''
#   num, nums = 0, []
#   while num < n:
#     nums.append(num)
#     num += 1
#   return nums
  
# Il programma deve stampare i primi N numeri.
# In questo esempio genero (tramite funzione) una lista di 1000000 elementi 
# e ne stampo i primi 40 (non ha molto senso; che spreco inutile di memoria!)
# Riscrivere il programma utilizzando le generator function.

# Nuovo:
def first_n(n):
  for i in range(n):
    yield i

first_numbers = first_n(1000000)

for i in range(40):
  print(first_numbers.__next__())

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

**Recommender System**


Le liste Python possono essere eterogenee (elementi di diverso tipo, es. `[5, "Hello", 3.2]`
Invece tutti gli elementi di un array NumPy devono essere omogenei.
Le operazioni matematiche che devono essere eseguite sugli array sarebbero estremamente inefficienti 
se gli array non fossero omogenei.

*Perch√© NumPy?* Gli array NumPy sono pi√π veloci e compatti delle liste. NumPy utilizza molta meno memoria per memorizzare i dati e fornisce un meccanismo di specificazione dei tipi di dati. Ci√≤ consente di ottimizzare ulteriormente il codice.

*Documentazione e link utili*: 


*   https://numpy.org/doc/stable/reference/generated/numpy.array.html  
*   https://numpy.org/doc/stable/user/absolute_beginners.html

In [ ]:
# Utilizzando la libreria numpy, implementate gli algoritmi progettati/visti ieri in classe.
# (algoritmo similitudine e algoritmo valutazione) 
# In particolare, vi chiediamo di implementare la soluzione utilizzando gli array NumPy.
# Leggete attentamente la documentazione della libreria. Pu√≤ essere utile anche la libreria Pandas.

def similitudine(V, S, na, nf):
  for i in range(1, na):
    for j in range(1, na):
      tot = 0
      for k in range(1, nf):
        if (V[i][k] != 0 or V[j][k] != 0):
          tot += 1
        S[i][j] = S[i][j] + V[i][k] * V[j][k]
      S[i][j] = S[i][j] / tot


def valutazione(V, S, na ,i, k):
  num = 0
  den = 0
  for j in range(1, na):
    if (V[j][k] != 0):
      num += V[j][k] * S[i][j]
      den += abs(S[i, j])
  
  return num/den if den > 0 else 0

**EXTRA** Supponiamo ora di avere a che fare con dei ranking su scala Likert [1, 2, 3, 4, 5] (in classe abbiamo visto solo il caso con valori 0 e 1). Come si potrebbe calcolare la similarit√†? Es. cosine similarity https://en.wikipedia.org/wiki/Cosine_similarity Provate a pensare (e implementare) la soluzione.